<!DOCTYPE html>
{% load static %}
<html class="wide wow-animation" lang="en">
  <head>
    <title>Typography</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}"/>
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Give me a sec...</p>
      </div>
    </div>
    <div class="page"><a class="banner banner-top" href="#" target="_blank"><img src="{% static 'images/up-bg-banner.jpeg' %}" alt="" height="0"></a>
      <header class="section page-header rd-navbar-transparent-wrap">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="44px" data-xl-stick-up-offset="44px" data-xxl-stick-up-offset="44px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
              <div class="rd-navbar-aside">
                <div class="rd-navbar-info">
                  <div class="icon novi-icon mdi mdi-phone"></div><a href="tel:#">+234 905 862 7745</a>
                </div>
                <ul class="list-lined">
                  <li><a href="#">Log in</a></li>
                  <li><a href="#">Create an account</a></li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main-inner">
                <div class="rd-navbar-main">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!--RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                      <!--Brand--><a class="brand" href="{% url 'index' %}"><img class="brand-logo-dark" src="{% static 'images/acctx-logo-color.png' %}" alt="" width="146" height="22"/><img class="brand-logo-light" src="{% static 'images/acctx-logo.png' %}" alt="" width="155" height="22"/></a>
                    </div>
                  </div>
                  <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                      <ul class="rd-navbar-nav">
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'typography' %}">Typography</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'contacts' %}">Contacts</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="rd-navbar-bg novi-background bg-image" style="background-image: url({% static 'images/bg-navbar.jpg' %})"></div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image novi-background bg-primary">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active">Typography</li>
          </ul>
        </div>
      </section>
      <!--Base typography -->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30 flex-lg-row-reverse justify-content-between">
            <div class="col-lg-4">
              <ul class="list-type-2">
                <li>
                  <h1><span class="text-light">Heading</span> 1</h1>
                </li>
                <li>
                  <h2><span class="text-light">Heading</span> 2</h2>
                </li>
                <li>
                  <h3><span class="text-light">Heading</span> 3</h3>
                </li>
                <li>
                  <h4>Heading 4</h4>
                </li>
                <li>
                  <h5>Heading 5</h5>
                </li>
                <li>
                  <h6>Heading 6</h6>
                </li>
              </ul>
            </div>
            <div class="col-lg-7">
              <ul class="list-type-1">
                <li>
                  <h1><span class="text-light">Heading</span> 1</h1>
                  <p class="big">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h2><span class="text-light">Heading</span> 2</h2>
                  <p class="big">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h3><span class="text-light">Heading</span> 3</h3>
                  <p class="big">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h4>Heading 4</h4>
                  <p class="big">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h5>Heading 5</h5>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
                <li>
                  <h6>Heading 6</h6>
                  <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!--Blockquote-->
      <section class="section bg-gray-100 box-image-left">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="section-md section-md-bottom-50">
                <h2 class="title-icon"><span class="icon icon-default mercury-icon-speak"></span><span>Testimonials</span></h2>
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-carousel-1" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
                  <blockquote class="quote quote-simple">
                    <q>ACCTX is one of the best when it comes to high-quality corporate structuring, financial strategy, and tax management.</q>
                    <div class="quote-meta">
                      <div class="author">
                        <cite>Dr Toyin Chidi</cite>
                      </div>
                      <div class="position">Chief executive officer</div>
                    </div>
                  </blockquote>
                  <blockquote class="quote quote-simple">
                    <q>I've had the pleasure of working with these guys for over 7 years. Over the time, they've been the best accountants to work with.</q>
                    <div class="quote-meta">
                      <div class="author">
                        <cite>Kingsley Obiora</cite>
                      </div>
                      <div class="position">Lawyer</div>
                    </div>
                  </blockquote>
                  <blockquote class="quote quote-simple">
                    <q>The staff members at ACCTX are friendly, knowledgeable, and experienced. That’s what I like most about them.</q>
                    <div class="quote-meta">
                      <div class="author">
                        <cite>Stanley Ubani</cite>
                      </div>
                      <div class="position">Regional Manager</div>
                    </div>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-image-item novi-background bg-image" style="background-image: url({% static 'images/typography-1-946x485.jpg' %})"></div>
      </section>
      <!-- Testimonials-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-md-10 col-lg-4">
              <h2>Testimonials</h2>
              <blockquote class="quote quote-left-align">
                <q class="big">ACCTX is the best accounting firm, they have helped me avoid lots of financial crisis that could have been a disaster to my business. I am so glad to have ACCTX as my financial consulting preferred firm, they are the best.</q>
                <div class="quote-meta unit">
                  <div class="unit-left"><img class="quote-img" src="{% static 'images/testimonials-1-138x138.jpg' %}" alt="" width="138" height="69"/>
                  </div>
                  <div class="unit-body">
                    <div class="author">
                      <cite>Kehinde Adekunle</cite>
                    </div>
                    <div class="position">Manager</div>
                  </div>
                </div>
              </blockquote><a class="button button-primary" href="#">More testimonials</a>
            </div>
            <div class="col-lg-8">
              <h2>Customer <span class="text-light">Testimonials</span></h2>
              <div class="row row-30">
                <div class="col-sm-6">
                  <blockquote class="quote quote-center quote-center-active">
                    <q class="big">ACCTX is the best accounting firm, they have helped me avoid lots of financial crisis that could have been a disaster to my business. I am so glad to have ACCTX as my financial consulting preferred firm, they are the best.</q>
                    <div class="quote-meta"><img class="quote-img" src="{% static 'images/testimonials-2-138x138.jpg' %}" alt="" width="138" height="69"/>
                      <div class="author">
                        <cite>Victor Jackson</cite>
                      </div>
                      <div class="position">Lawyer</div>
                    </div>
                  </blockquote>
                </div>
                <div class="col-sm-6">
                  <div class="owl-item-simulate">
                    <blockquote class="quote quote-center">
                      <q class="big">ACCTX is the best accounting firm, they have helped me avoid lots of financial crisis that could have been a disaster to my business. I am so glad to have ACCTX as my financial consulting preferred firm, they are the best.</q>
                      <div class="quote-meta"><img class="quote-img" src="{% static 'images/testimonials-3-138x138.jpg' %}" alt="" width="138" height="69"/>
                        <div class="author">
                          <cite>Stella Okonkwo</cite>
                        </div>
                        <div class="position">Business owner</div>
                      </div>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--HTML Text Elements-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-8">
              <h5>HTML Text</h5>
              <p class="text-block"><span>Welcome to our wonderful world. This is a bold text</span>
                <mark>This is a highlighted text</mark><span>We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login</span><span class="tooltip-custom" data-toggle="tooltip" data-placement="top" title="Default text">Tooltips widgets</span><span>you will definitely have a great experience of using our web page.</span><span class="text-strike">This is a strickethrough text</span><span class="text-underline">This is an underlined text.</span><a href="#">Link</a><a class="link-hover" href="#">Hover link</a><a class="link-active" href="#">Press link</a>
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--Unordered List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-xl-7">
              <h5>Unordered List</h5>
              <p>We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests</p>
              <ul class="list-marked list-marked-primary">
                <li>Consulting</li>
                <li>Customer Service</li>
                <li>Innovation</li>
                <li>Management</li>
                <li>Ethics</li>
              </ul>
              <p>We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Ordered List-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-xl-7">
              <h5>Ordered List</h5>
              <p>We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests.</p>
              <ol class="list-ordered">
                <li>Consulting</li>
                <li>Customer Service</li>
                <li>Innovation</li>
                <li>Management</li>
                <li>Ethics</li>
              </ol>
              <p>We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Icon List 1-->
      <section class="section section-lg bg-default">
        <div class="container">
          <h5>Our Services</h5>
          <div class="row box-icon-1-wrap">
            <div class="col-md-4 box-icon-1"><img src="{% static 'images/accounting.png' %}">
              <h5 class="title">Accounting Services</h5>
              <p class="text">We offer a full range of comprehensive accounting services to companies throughout the US and European countries.</p>
            </div>
            <div class="col-md-4 box-icon-1"><img src="{% static 'images/incomes.png' %}">
              <h5 class="title">Income Tax</h5>
              <p class="text">This Service allows you to submit and view your tax returns and receive instant notification of the return receipt.</p>
            </div>
            <div class="col-md-4 box-icon-1"><img src="{% static 'images/cloud.png' %}">
              <h5 class="title">Financial Services</h5>
              <p class="text">Our company provides various financial services including insurance, wealth management, tax consulting etc.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-title">
        <div class="container">
          <h5>More Services</h5>
        </div>
      </section>
      <!--Icon List 2-->
      <section class="section section-sm section-sm-bottom-100 bg-primary">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 wow fadeInUp">
              <div class="box-icon-2"><img src="{% static 'images/accounting.png' %}">
                <h5 class="title">Accounting Services</h5>
                <p class="text">We offer a full range of comprehensive accounting services to companies throughout the US and European countries.</p>
              </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="box-icon-2"><img src="{% static 'images/incomes.png' %}">
                <h5 class="title">Income Tax</h5>
                <p class="text">This Service allows you to submit and view your tax returns and receive instant notification of the return receipt.</p>
              </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
              <div class="box-icon-2"><img src="{% static 'images/cloud.png' %}">
                <h5 class="title">Financial Services</h5>
                <p class="text">Our company provides various financial services including insurance, wealth management, tax consulting etc.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Icon List 3-->
      <section class="section section-lg bg-default">
        <div class="container text-center text-lg-left">
          <h5>Other Services</h5>
          <div class="row row-30 row-lg-50">
            <div class="col-sm-6 col-md-4">
              <div class="box-icon-3 unit flex-column flex-lg-row"><img src="{% static 'images/ledger.png' %}">
                <div class="unit-left">
                </div>
                <div class="unit-body">
                  <h5 class="title">Bookkeeping</h5>
                  <p class="text">We offer comprehensive bookkeeping services to companies throughout the US.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="box-icon-3 unit flex-column flex-lg-row"><img src="{% static 'images/quick.png' %}">
                <div class="unit-left">
                </div>
                <div class="unit-body">
                  <h5 class="title">QuickBooks Consulting</h5>
                  <p class="text">As Certified QuickBooks ProAdvisors®, we have access to QuickBooks tools &amp; training.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="box-icon-3 unit flex-column flex-lg-row"><img src="{% static 'images/bag.png' %}">
                <div class="unit-left">
                </div>
                <div class="unit-body">
                  <h5 class="title">Tax Preparation Services</h5>
                  <p class="text">Costrax offers professional, friendly, and accurate tax preparation services.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="box-icon-3 unit flex-column flex-lg-row"><img src="{% static 'images/growth.png' %}">
                <div class="unit-left">
                </div>
                <div class="unit-body">
                  <h5 class="title">Business Consulting</h5>
                  <p class="text">We help you grow your business, increase revenue, and be more effective.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="box-icon-3 unit flex-column flex-lg-row"><img src="{% static 'images/estate.png' %}">
                <div class="unit-left">
                </div>
                <div class="unit-body">
                  <h5 class="title">Estate Planning</h5>
                  <p class="text">Our company provides comprehensive estate planning services tailored to your goals.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="box-icon-3 unit flex-column flex-lg-row"><img src="{% static 'images/retirement.png' %}">
                <div class="unit-left">
                </div>
                <div class="unit-body">
                  <h5 class="title">Retirement Plans</h5>
                  <p class="text">Our team of professionals will help you prepare a perfect retirement plan for the nearest future.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Image Left-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-6"><img src="{% static 'images/typography-2-544x342.jpg' %}" alt="" width="544" height="171"/>
            </div>
            <div class="col-md-6 col-xl-4">
              <h5>ACCTX</h5>
              <p class="big">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Image Right-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-30 flex-md-row-reverse justify-content-end">
            <div class="col-md-6"><img src="{% static 'images/typography-2-544x342.jpg' %}" alt="" width="544" height="171"/>
            </div>
            <div class="col-md-6 col-xl-4">
              <h5>ACCTX</h5>
              <p class="big">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Image Centered-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <h5>ACCTX</h5>
              <figure class="figure-light"><img class="img-centered" src="{% static 'images/typography-2-544x342.jpg' %}" alt="" width="544" height="171"/>
              </figure>
              <p class="big">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
            </div>
          </div>
        </div>
      </section><a class="banner" href="#" target="_blank"><img src="" alt="" height="0"></a>
      <footer class="section footer-classic">
        <div class="footer-inner-1">
          <div class="container">
            <div class="row row-40">
              <div class="col-md-5 col-lg-3">
                <h5>Our Contacts</h5>
                <ul class="contact-list font-weight-bold">
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                      </div>
                      <div class="unit-body"><a href="#">52 Victory Ave <br>Ojodu, Ikeja Lagos</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                      </div>
                      <div class="unit-body"><a href="tel:#">+234 (905) 862 7745</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-clock"></div>
                      </div>
                      <div class="unit-body">
                        <ul class="list-0">
                          <li>Weekdays: 8:00–17:00</li>
                          <li>Weekends: Closed</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul><a class="d-inline-block big" href="mailto:#">info@acctx.org</a>
              </div>
              <div class="col-md-6 col-lg-5">
                <h5>Links</h5>
                <div class="row row-5 justify-content-between">
                  <div class="col-sm-6">
                    <ul class="footer-list big">
                      <li><a href="#">IRS Publications</a></li>
                      <li><a href="#">Record Retention Guide</a></li>
                      <li><a href="#">Tax Due Dates</a></li>
                      <li><a href="#">Tax Forms</a></li>
                      <li><a href="#">Tax Rates</a></li>
                      <li><a href="#">Where is my refund?</a></li>
                      <li><a href="#">Retirement</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4 col-lg-6 col-xxl-5">
                    <ul class="footer-list big">
                      <li><a href="#">Retirement</a></li>
                      <li><a href="#">Investment</a></li>
                      <li><a href="#">Real Estate</a></li>
                      <li><a href="#">Insurance</a></li>
                      <li><a href="#">Tax</a></li>
                      <li><a href="#">Money</a></li>
                      <li><a href="#">Other Resources</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <h5>Partners</h5>
                <div class="row row-30 align-items-center text-center">
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'images/footer-1-brand-1-144x70.png' %}" alt="" width="144" height="35"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'images/footer-1-brand-2-121x68.png' %}" alt="" width="121" height="34"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'images/footer-1-brand-3-121x33.png' %}" alt="" width="121" height="16"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'images/footer-1-brand-4-101x76.png' %}" alt="" width="101" height="38"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'images/footer-1-brand-5-107x53.png' %}" alt="" width="107" height="26"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="{% static 'images/footer-1-brand-6-97x52.png' %}" alt="" width="97" height="26"/></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-inner-2">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Design by <a href="https://www.allformslimited.com">Allforms Limited</a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>